
.photo_caption
{
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}


th, td
{
    padding: 15px;
}


blockquote
{
    display: block;

    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;

    border-left: 3px solid rgba(0,0,0,.84);

    margin-left: 0.0em;
    margin-right: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 0.0em 10px;
} 


/* Make the "Reports" table scrollable if running on a small screen */
@media only screen and (max-width: 750px)
{
    .reports_table
    {
        overflow-x:auto;
    }
}


@media only screen and (min-width: 750px)
{
    .reports_table
    {
    }
}


/* Sortable table styles */

/* header */
table.sortable thead
{
  background-color:#eee;
  font-weight: bold;
  cursor: default;
}


/* table striping (NB this requires a modern browser, so won't work in the IE WebBrowser control) */
table.sortable tbody tr:nth-child(2n) td
{
  background: #ffeeee;
}


table.sortable tbody tr:nth-child(2n+1) td
{
  background: #ccfffff;
}
