[Deploy]
password=""


[Database]
server_name=""
database_name=""
user_name=""
password= ""


[reCaptcha]
site_key=""
secret_key=""


[MapQuest]
api_key=""


[MapBox]
api_key=""


[Admin]
edits_disabled=0
edits_disabled_message="The site is currently locked for editing pending an update. Please contact the site admin (@annajayne) for details."