
.photo_caption
{
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}


th, td
{
    padding: 15px;
}


blockquote
{
    display: block;

    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;

    border-left: 3px solid rgba(0,0,0,.84);

    margin-left: 0.0em;
    margin-right: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 0.0em 10px;
} 


/* Make the "Reports" table scrollable if running on a small screen */
@media only screen and (max-width: 750px)
{
    .reports_table
    {
        overflow-x:auto;
    }
}


@media only screen and (min-width: 750px)
{
    .reports_table
    {
    }
}


h1.hero
{
	color:#b00a0a;
}


div.hero
{
	color:#c0c0c0;
}


/* Sortable table styles */

/* header */
table.sortable thead
{
  background-color:#eee;
  font-weight: bold;
  cursor: default;
}


/* table striping (NB this requires a modern browser, so won't work in the IE WebBrowser control) */
table.sortable tbody tr:nth-child(2n) td
{
  background: #ffeeee;
}


table.sortable tbody tr:nth-child(2n+1) td
{
  background: #ccfffff;
}


/* Generic style for nonprinting items */
.nonprinting
{
}

@media print
{
    .nonprinting
    {
        display: none;
    }

    /* Don't display the main menu when printing */
    #topnav
    {
        display: none;
    }

    
}


/* div class used for internal menus, e.g. [ Export | Edit | Add ] */
.command_menu
{
    float: right;
}


@media print
{
    .command_menu
    {
        display: none;
    }
}


/* Social media links */
@media print
{
    #social_links
    {
        display: none;
    }
}


@media only screen
{
    #social_links
    {
        position: relative;
        clear: both;
        width: 100%;
        height: 6em;
        margin-top: 2em;
    }

    #social_links a
    {
      text-decoration: none;
    }

    #social_links img
    {
      display: inline-block;
      max-width: 5%;
      height: auto;   
      margin-left: 1.5%;
      margin-right: 10px;
      vertical-align: middle;
    }
}


@media only screen and (max-width: 1000px)
{
    #social_links img
    {
        max-width:9%
    }
}


@media only screen and (max-width: 600px)
{
    #social_links img
    {
        max-width:15%
    }
}


/* Content warning popup */
.cw_popup, .qrcode_popup
{
  /* Fill the entire viewport */
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display:none;

  /* Force on top of the slider */
  z-index: 12;

  /* Fade out the background */
  background-color: rgba(88,88,88, 0.9);
}

.cw_inner, .qrcode_inner
{
  /* Center in the page */
  width: 300px;
  margin: auto;
  margin-top: 150px;

  background-color: rgba(88,88,88,1);
  color: white;

  text-align: center;
  padding: 30px;
}

/* Set the correct font/colour */
.cw_inner h2, qrcode_inner h2
{
  color: white;
}
