
figure
{
    text-align: center;
}


figcaption, .photo_caption
{
    margin-top: 0.25em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}


th, td
{
    padding: 15px;
}


blockquote
{
    display: block;

    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;

    border-left: 3px solid rgba(0,0,0,.84);

    margin-left: 0.0em;
    margin-right: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 0.0em 10px;
} 


.smallertext
{
    font-size: smaller;
}

.blog-editor-input-hint
{
    font-size:0.8em;
    font-style:italic;
}

/* Make the "Reports" table scrollable if the sidebar is shown (otherwise if it is clipped there will be no way to see all of the contents) */
@media only screen and (min-width: 920px)
{
    .reports_table
    {
        overflow-x:auto;
    }
}

@media only screen and (max-width: 919px)
{
    .reports_table
    {
        overflow-x:visible;
    }
}

@media print
{
    .reports_table
    {
        overflow-x:visible;
        font-size: 80%;
    }
}


@media only screen and (max-width: 750px)
{
    .reports_page_rss_button
    {
        width: 16px;
        margin-left: 2px;
        margin-bottom: 2px;
        vertical-align:middle; 
    }
}


@media only screen and (min-width: 750px)
{
    .reports_page_rss_button
    {
        width: 24px;
        margin-left: 2px;
        margin-bottom: 4px;
        vertical-align:middle; 
    }
}


h1.hero
{
    color:#b00a0a;
}


div.hero
{
    color:#c0c0c0;
}


/* Used in the "Show users" admin page */
.disabled_role
{
    color:lightgray;
}



/*********************************************************************************
 * Sortable table styles
 */

/* header */
table.sortable thead
{
  background-color:#eee;
  font-weight: bold;
  cursor: default;
}


/* table striping (NB this requires a modern browser, so won't work in the IE WebBrowser control) */
table.sortable tbody tr:nth-child(2n) td
{
  background: #ffeeee;
}


table.sortable tbody tr:nth-child(2n+1) td
{
  background: #ccfffff;
}



/* Generic style for nonprinting items */
.nonprinting
{
}

@media print
{
    .nonprinting
    {
        display: none;
    }

    /* Don't display the main menu when printing */
    #topnav
    {
        display: none;
    }
}


p.report_timestamp
{
    font-size:0.8em;
    font-style:italic;
    text-align:right;
}



/*********************************************************************************
 * Menu styles
 */

/* div class used for internal menus, e.g. [ Export | Edit | Add ] */
.command_menu
{
    float: right;
}


.command_menu_inline
{
    /* These are just a subset of the styles for 'body' */
    color: #666;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: initial;
    font-weight: normal;
}


@media print
{
    .command_menu
    .command_menu_inline
    {
        display: none;
    }
}



/*********************************************************************************
 * Social media link styles
 */

@media print
{
    #social_links
    {
        display: none;
    }
}


@media only screen
{
    #social_links
    {
        position: relative;
        clear: both;
        width: 100%;
        height: 6em;
        margin-top: 2em;
        padding-top:1em;
    }

    #social_links a
    {
      text-decoration: none;
    }

    #social_links img
    {
        display: inline-block;
        max-width: 5%;
        height: auto;   
        margin-left: 1.5%;
        margin-right: 10px;
        vertical-align: middle;
    }
}


@media only screen and (max-width: 1000px)
{
    #social_links img
    {
        max-width:9%
    }
}


@media only screen and (max-width: 600px)
{
    #social_links img
    {
        max-width:15%
    }
}


/*********************************************************************************
 * Content warning popup styles
 */

.cw_popup, .qrcode_popup
{
    /* Fill the entire viewport */
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display:none;

    /* Force on top of the slider */
    z-index: 12;

    /* Fade out the background */
    background-color: rgba(88,88,88, 0.9);
}

.cw_inner, .qrcode_inner
{
    /* Center in the page */
    width: 300px;
    margin: auto;
    margin-top: 150px;

    background-color: rgba(88,88,88,1);
    color: white;

    text-align: center;
    padding: 30px;
}

/* Set the correct font/colour */
.cw_inner h2, .qrcode_inner h2
{
    color: white;
}



/*********************************************************************************
 * Button styles
 */

/* Generic button styles */
.button-gray,
.button-blue,
.button-green,
.button-orange,
.button-dkred
{
    border-radius: 7px;
    display: block;
    float: left;
    margin: 10px 15px 10px 0;
    padding: 10px;
    text-decoration: none;
    border-width: 0px;
}


/* Button with a gray background and almost black text */
.button-gray
{
    background: #f0f0f0;            /* light gray */
    color: #333;
}

.button-gray:hover
{
     background: #dbdbdb;
}

a.button-gray, a.button-gray:visited
{
    color: #333;
}


/* Button with a blue background and white text */
.button-blue
{
    background: #337ab7;
    color: #fff;
}

.button-blue:hover
{
    background: #286090;
}

a.button-blue, a.button-blue:visited
{
    color: #fff;
}


/* Button with a green background and white text. */
.button-green
{
    background: #00a000;
    color: #fff;
}

.button-green:hover
{
    background: #008000;
}

a.button-green, a.button-green:visited
{
    color: #fff;
}


/* Button with an orange background and white text */
.button-orange
{
    background: #f0ad4e;
    color: #fff;
}

.button-orange:hover
{
    background: #ec971f;
}

a.button-orange, a.button-orange:visited
{
    color: #fff;
}


/* Button with a dark red background and white text. NB this button intentionally matches the colours of the "buttonlink" class */
.button-dkred
{
    background: #a00a0a;
    color: #fff;
}

.button-skred:hover
{
    background: #f00a0a;
}

a.button-dkred, a.button-dkred:visited
{
    color: #fff;
}



/*********************************************************************************
 * Styles for the "account" pages
 */

.account-error
{
    margin-top: 0.5em;
    color: #f00a0a;
}



/*********************************************************************************
 * Styles for the "blogpost" pages
 */

p.blogpost_heading
{
    font-size: 150%;
    font-weight: normal;
    line-height: 110%;
    padding-bottom: 8px;
    margin: 15px 0 0 0;
}

p.blogpost_date
{
    font-size: 95%;
}

p.blogpost_author
{
    font-size: smaller;
    font-style: italic;
    text-align: right;
}

p.blogpost_index_link
{
    font-size: smaller;
    text-align: right;
}



/*********************************************************************************
 * Link preview styles
 */

div.link-preview-container
{
    margin: 1em;
}

a.link-preview
{
    display: inline-block;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 10px; /* Rounded border */
    padding: 10px; /* Some padding */
    min-width: 450px;
    text-decoration: none;
}

img.og-image
{
    border-radius: 5px 5px 0 0; /* Rounded top border */
    width: 450px;
    max-height: 281px; /* Limit the max height. Note that this may force the aspect ratio of the image to approx 16:10 */
}

a.link-preview:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a.link-preview .link-area
{
    display: table-caption; /*  make text wrap under image  */
}

a.link-preview .link-area .og-title
{
    color: black;
    font-size: 1.0em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.link-preview .link-area .og-description
{
    color: black;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 450px;
}

a.link-preview .link-area .og-host
{
    color: gray;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
}



/*********************************************************************************
 * 
 */
